.question-page-title-ans{
    font-weight: 600;
    font-size: 40px;
    padding: 20px;
    display: inline-block;
}
.single-ans {

    width: 40%;
    height: auto;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .individual-qs-title-ans{
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    display: inline;
    text-align: left;
}   
.single-ans p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }
  .asked-by{
    font-size: 15px !important;
  }
  .tags-answers{
    font-size: 13px !important;
  }
  .answers-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    display: flex; 
    text-align: left;
    font-weight: 600;
  }
  .reply-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .rep-box{
    width: 400px;
    height: 60px;
    border-radius: 4px;
  }
  .reply-button{

  }